DB_HOST=db
DB_PORT=3306
DB_NAME=estoque
DB_USER=estoque
DB_PASS=your_database_password_here

GLPI_URL=http://192.168.250.116:8091/apirest.php
GLPI_APP_TOKEN=COLOQUE_SEU_APP_TOKEN_AQUI
GLPI_USER_TOKEN=COLOQUE_SEU_USER_TOKEN_AQUI
